APP_ID=YourAppIDHere
PUBLIC_KEY=YourPublicKeyHere
BOT_TOKEN=YourBotTokenHere
SSH_HOST=YourSSHHostHere
SSH_PORT=YourSSHPortHere
SSH_USERNAME=YourSSHUserHere
SSH_PASSWORD=YourSSHPasswordHere
SSH_SECRET_KEY=YourSSHSecretKeyHere
SSH_KEY_PATH=YourSSHKeyPathHere
COMMAND_PREFIX=YourCommandPrefixHere